{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='/static/content/index.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="wrap-up">
        <div class="header">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/icct logop.png') }}" alt="ICCT Logo">
            </div>
            <div class="authentication">
                <i class='bx bxs-user'></i>
            </div>
        </div>
    
        <div class="title">  
        </div>

        <form action="{{ url_for('your_form_handler_route') }}" method="POST">
            <div class="input-tab">
                <label for="full-name">Full Name:</label>
                <input id="full-name" type="text" placeholder="Enter your fullname">
            </div>
            <div class="input-tab">
                <input id="student-id" type="text" placeholder="Enter your Student Id">
                <div id="studentid-error" class="error-tab"></div>
            </div>
            <div class="input-tab">
               <input id="section" type="text" placeholder="Enter your section">
               <div id="section-error" class="error-tab"></div>
            </div>
            <div class="input-tab">
                <input id="email" type="text" placeholder="Enter your email">
                <div id="email-error" class="error-tab"></div>
            </div>
            <div class="btn-form">
                <input id="submit-btn" type="submit" value="Submit">
                <div id="submit-error" class="error-tab"></div>
            </div>
        </form>

        <div class="pop-up">
            <h2>Thank you</h2>
            <p>Validation success</p>
            <button class="ok-btn" id="okBtn" type="button">OK</button>
        </div>


    </div>


</div>
{% endblock %}
